*, :before, :after {
  box-sizing: border-box;
  border: 0 solid;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: inherit;
  line-height: 1.5;
}

canvas, img, picture, svg, video {
  max-width: 100%;
  display: block;
}

button, input, optgroup, select, textarea {
  background-color: #0000;
  padding: .5rem;
  font-family: inherit;
}

button:not([class]), input:not([class]), optgroup:not([class]), select:not([class]), textarea:not([class]) {
  border: 1px solid #bfc2c7;
}

a, button, input, select, summary, textarea {
  &:focus {
    outline: 2px solid #0000;
  }
}

textarea:not([rows]) {
  min-height: 10em;
}

button {
  cursor: pointer;
}

button:disabled, input:disabled, select:disabled, textarea:disabled {
  cursor: not-allowed;
  opacity: .5;
}

h1, h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-size: 1rem;
  font-weight: 600;
}

p {
  text-wrap: pretty;
}

b, strong {
  font-weight: 700;
}

small {
  font-size: 80%;
  line-height: 1.4;
}

pre, code, kbd, samp {
  font-family: monospace;
  font-size: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  padding: 0;
  list-style: none;
}

th {
  font-size: 1rem;
  font-weight: 600;
}

hr {
  border-top: 1px solid #bfc2c7;
  height: 0;
  margin: 1em 0;
}

details {
  display: block;
}

summary {
  display: list-item;
}

.ai-c {
  align-items: center;
}

.b-0 {
  bottom: 0;
}

.b-20 {
  bottom: 5rem;
}

.b-4 {
  bottom: 1rem;
}

.bbw-1 {
  border-bottom-width: 1px;
}

.bc-gray-1 {
  border-color: #e7e8eb;
}

.bc-silver-4 {
  border-color: #c6cad1;
}

.bc-white {
  border-color: #fff;
}

.bc-white\/20 {
  border-color: #fff3;
}

.bg-blue-6 {
  background-color: #4479ee;
}

.bg-cyan-6 {
  background-color: #29c0da;
}

.bg-gray-1 {
  background-color: #e7e8eb;
}

.bg-gray-1\/50 {
  background-color: #e7e8eb80;
}

.bg-gray-2 {
  background-color: #d3d5d9;
}

.bg-gray-3 {
  background-color: #bec1c7;
}

.bg-green-6 {
  background-color: #29dcad;
}

.bg-indigo {
  background-color: #6366f1;
}

.bg-indigo-6 {
  background-color: #797bf3;
}

.bg-lime-6 {
  background-color: #95d337;
}

.bg-mint-6 {
  background-color: #31c393;
}

.bg-orange-6 {
  background-color: #ff8051;
}

.bg-red-6 {
  background-color: #ea5560;
}

.bg-silver\/40 {
  background-color: #9ca3af66;
}

.bg-sky-6 {
  background-color: #54c6f9;
}

.bg-transparent {
  background-color: #0000;
}

.bg-white {
  background-color: #fff;
}

.bg-yellow-6 {
  background-color: #ffc23c;
}

.blw-1 {
  border-left-width: 1px;
}

.br-2 {
  border-radius: .5rem;
}

.br-half {
  border-radius: 50%;
}

.br-pill {
  border-radius: 9999px;
}

.brw-1 {
  border-right-width: 1px;
}

.bsh-md {
  box-shadow: 1px 3px 5px -1px #0000001a;
}

.btw-1 {
  border-top-width: 1px;
}

.bw-1 {
  border-width: 1px;
}

.bw-4 {
  border-width: 4px;
}

.c-black {
  color: #000;
}

.c-gray {
  color: #6b7280;
}

.c-gray-12 {
  color: #111214;
}

.c-gray-3 {
  color: #bec1c7;
}

.c-gray-4 {
  color: #a9adb5;
}

.c-gray-6 {
  color: #808692;
}

.c-gray-8 {
  color: #4d525c;
}

.c-indigo {
  color: #6366f1;
}

.c-p {
  cursor: pointer;
}

.c-white {
  color: #fff;
}

.c-yellow-5 {
  color: #ffcc5c;
}

.d-3 {
  width: .75rem;
  height: .75rem;
}

.d-4 {
  width: 1rem;
  height: 1rem;
}

.d-b {
  display: block;
}

.d-f {
  display: flex;
}

.d-g {
  display: grid;
}

.d-none {
  display: none;
}

.f-1 {
  flex: 1;
}

.fd-c {
  flex-direction: column;
}

.ff-m {
  font-family: ui-monospace, Cascadia Code, Source Code Pro, Menlo, Roboto Mono, Ubuntu Mono, Consolas, Liberation Mono, Courier New, monospace;
}

.ff-s {
  font-family: Iowan Old Style, Palatino Linotype, URW Palladio L, P052, serif;
}

.fs-4xl {
  font-size: 2.25rem;
}

.fs-5xl {
  font-size: 3rem;
}

.fs-lg {
  font-size: 1.125rem;
}

.fs-md {
  font-size: 1rem;
}

.fs-sm {
  font-size: .875rem;
}

.fs-xl {
  font-size: 1.25rem;
}

.fs-xs {
  font-size: .75rem;
}

.fw-100 {
  font-weight: 100;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.g-1 {
  gap: .25rem;
}

.g-2 {
  gap: .5rem;
}

.g-3 {
  gap: .75rem;
}

.gtc-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.gtc-16 {
  grid-template-columns: repeat(16, minmax(0, 1fr));
}

.gtr-12 {
  grid-template-rows: repeat(12, minmax(0, 1fr));
}

.h-2 {
  height: .5rem;
}

.h-3 {
  height: .75rem;
}

.h-48 {
  height: 12rem;
}

.h-6 {
  height: 1.5rem;
}

.h-auto {
  height: auto;
}

.h-dvh {
  height: 100dvh;
}

.h-full {
  height: 100%;
}

.h-vh {
  height: 100vh;
}

.h\:bg-silver\/25:hover {
  background-color: #9ca3af40;
}

.i-0 {
  inset: 0;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.l-12 {
  left: 3rem;
}

.l-16 {
  left: 4rem;
}

.l-4 {
  left: 1rem;
}

.lh-2 {
  line-height: 1.25;
}

.lh-5 {
  line-height: 1.625;
}

.m-0 {
  margin: 0;
}

.max-w-sm {
  max-width: 40rem;
}

.max-w-xl {
  max-width: 80rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-3 {
  margin-bottom: .75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.min-h-dvh {
  min-height: 100dvh;
}

.min-w-6 {
  min-width: 1.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mt-1 {
  margin-top: .25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mx-auto {
  margin-inline: auto;
}

.o-20 {
  opacity: .2;
}

.o-30 {
  opacity: .3;
}

.o-40 {
  opacity: .4;
}

.o-50 {
  opacity: .5;
}

.o-h {
  overflow: hidden;
}

.p-2 {
  padding: .5rem;
}

.p-3 {
  padding: .75rem;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-a {
  position: absolute;
}

.p-px {
  padding: 1px;
}

.p-r {
  position: relative;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pr-3 {
  padding-right: .75rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pt-12 {
  padding-top: 3rem;
}

.px-1 {
  padding-inline: .25rem;
}

.px-2 {
  padding-inline: .5rem;
}

.px-3 {
  padding-inline: .75rem;
}

.px-6 {
  padding-inline: 1.5rem;
}

.py-1 {
  padding-block: .25rem;
}

.py-2 {
  padding-block: .5rem;
}

.py-3 {
  padding-block: .75rem;
}

.r-20 {
  right: 5rem;
}

.r-4 {
  right: 1rem;
}

.t-12 {
  top: 3rem;
}

.t-20 {
  top: 5rem;
}

.t-4 {
  top: 1rem;
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.td-u {
  text-decoration: underline;
}

.tdl-u {
  text-decoration-line: underline;
}

.tds-w {
  text-decoration-style: wavy;
}

.tt-u {
  text-transform: uppercase;
}

.us-none {
  user-select: none;
}

.w-1 {
  width: .25rem;
}

.w-10 {
  width: 2.5rem;
}

.w-8 {
  width: 2rem;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.zi-0 {
  z-index: 0;
}

@media (width >= 48rem) {
  .md\:d-b {
    display: block;
  }

  .md\:d-f {
    display: flex;
  }

  .md\:d-none {
    display: none;
  }

  .md\:gtc-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
