*, :before, :after {
  box-sizing: border-box;
  border: 0 solid;
}

* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

svg {
  max-width: 100%;
  display: block;
}

button, input {
  background-color: #0000;
  padding: .5rem;
  font-family: inherit;
}

button:not([class]), input:not([class]) {
  border: 1px solid #bfc2c7;
}

button:focus, input:focus {
  outline: 2px solid #0000;
}

button {
  cursor: pointer;
}

button:disabled, input:disabled {
  cursor: not-allowed;
  opacity: .5;
}

h1 {
  overflow-wrap: break-word;
  text-wrap: balance;
  font-size: 1rem;
  font-weight: 600;
}

code {
  font-family: monospace;
  font-size: 1em;
}

.h-auto {
  height: auto;
}

.h-dvh {
  height: 100dvh;
}

.mt-2 {
  margin-top: .5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.p-4 {
  padding: 1rem;
}

.bg-indigo-12 {
  background-color: #0e0f23;
}

.bg-white {
  background-color: #fff;
}

.tc-indigo-1 {
  color: #e4e5f9;
}

.tc-white {
  color: #fff;
}

.f-1 {
  flex: 1;
}

.pi-c {
  place-items: center;
}

.d-g {
  display: grid;
}

.fs-xl {
  font-size: 1.25rem;
}

.fs-4xl {
  font-size: 2.25rem;
}

.ta-c {
  text-align: center;
}

.ff-c {
  font-family: Charter, Bitstream Charter, Sitka Text, Cambria, serif;
  font-weight: 500;
}
